:root{
   --box:180px
}
/* login */
body, .userlog{
   height: 100vh;
   background-image: url(../img/main-bg.jpg);
   background-size: 130%;
   background-position: center;
   background-position-x: 0px;
   background-repeat: no-repeat;
}

.container, .signin {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   height: var(--box);
   width: var(--box);
   background-color: grey;
   background-image: url(../img/signup.png);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   display: block;
   margin: 0 auto;
   border: 3px solid white;
   border-radius: 4px;
}



.frm {
   width: auto;
   background: rgba(89, 89, 89, .90);
   padding: 2rem;
   border-radius: .625rem;
   border: 2px solid lightgray;
}

.frm > form {
   min-width: 250px;
}

.frm > form > .frm-header {
   font-weight: 600;
}

.lbl {
   color: white;
}

.login-btn {
   display: block;
   margin: 0 auto;
   color: white;
   font-weight: 600;
   background: rgb(25, 111, 197);
   border: none;
   border-radius: 3px;
   padding: 10px 25px;
}

.signup {
   text-decoration: none;
}

@media (min-width:360px) {
   body, .userlog {
      height: 100vh;
      background-image: url(../img/main-bg.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }
}

/* signup page */


